{{ define "content" }}

    <!--h1>{{ .Title }}</h1-->
    {{ if .Params.img_src }}
        <span class="image main"><img src="{{ .Params.img_src | relURL }}" alt="" /></span>
    {{ end }}
    {{ .Content }}
    
    <section class="tiles">
        {{ if .Params.collection_items }}
            {{ $seqlen := int .Params.collection_items }}
            {{ range $i, $sequence :=  (seq $seqlen ) }}
                <article class="{{ .Params.home_style }}">
                    <span class="image">
                    {{ if lt $sequence 10 }}
                        <img src="{{ .Params.home_img | relURL }}/0{{$sequence}}" alt="" />
                    {{ else }}
                        <img src="{{ .Params.home_img | relURL }}/{{$sequence}}" alt="" />
                    {{ end }}
                    </span>
                    <a href="{{ .Params.home_img | relURL }}/{{$sequence}}">
                        <h2>{{$i}}</h2>
                        <div class="content">
                            <!-- empty text -->
                        </div>
                    </a>
                </article>
            {{ end }}

        {{ end }}
    </section>

{{ end }}
