///
/// Phantom by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Main */

    @-webkit-keyframes Gradient {
        0% {
            background-position: 30% 50%
        }
        50% {
            background-position: 25% 50%
        }
        100% {
            background-position: 30% 50%
        }
        
    }

	#main {
		@include padding(5em, 0, (-5em, 0, -2em, 0));

		@include breakpoint('<=small') {
			@include padding(3em, 0, (-3em, 0, 3em, 0));
        }
    
        .border{
            padding: 1px;
            background: linear-gradient(110deg, #F98DB1 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #EB849D 34%, #EB849D 34%);
            background-size: 400% 400%;
            background-position: 25% 50%;
            border: 0px solid white;
            border-radius: 15px;
            // -webkit-animation: Gradient 15s ease infinite;
            // -moz-animation: Gradient 5s ease infinite;
            // animation-play-state: paused;
            margin: 0 2em;
            // &:hover {
            //     animation-play-state: running;
            // }
            .inner-cutout {
                /* border-width: 4px; */
                border-style: solid;
                border-radius: 16px;
                padding: 50px 32px;
                box-sizing: border-box;
                background: #3B3831;
                header {
                    .landpage-huge {
                        text-align: center;
                        color: #FAF9F7;
                        font-family: 'Abril Fatface', sans-serif;
                        margin: 0;
                        font-weight: 500;
                    }
                    h2 {
                        text-align: center;
                        color: #FAF9F7;
                        margin-bottom: 1em;
                    }
                    p {
                        text-align: center;
                        margin: 0;
                        position: relative;
                        font-family: "Literata", serif;
                        line-height: 1.43;
                        font-size: 20px;
                        font-weight: 500;
                        color: #eee;
                    }
                }
            }
            div.article_desc {
                margin: 0 2em;
                color: #eee;
                font-weight: 600;
                padding: 5px 20px;
                p {
                    margin: 0;
                }
            }
        }
        /*.tiles article > a h2 {
            font-family: 'Abril Fatface', sans-serif;
            font-weight: 900;
            margin: 0 -0.4em;
            padding: 0.1em 0.4em;
            border-radius: 0.8em 0.3em;
            background: transparent;
            background-image: linear-gradient( to right, rgba(255, 225, 0, 0.1), rgb(61, 217, 249) 4%, rgba(255, 225, 0, 0.3) );
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        }*/
        p {
            font-weight: 600;
        }
    }
@media screen and (max-width: 480px) {
    .border {
        margin: 0 !important;
    }
    .article_desc {
        margin: 0 -10% !important;
    }
}